@model IEnumerable<SealWebRTC.Models.Meeting>
@{
    ViewData["Title"] = "Historial de atenciones";
    Layout = "_LayoutClient";
}


        <div class="card border-light mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title" style="font-size:1rem">Historial de atenciones</h4>
                            <hr style="margin-top: 0.5rem; margin-bottom: 0.5rem;" />
                        </div>
                    </div>
                    <div class="col-12">
                        <table id="list" class="table table-sm table-bordered" style="font-size:0.875rem">
                            <thead>
                                <tr>
                                    <th>
                                        Fecha
                                    </th>
                                    <th>
                                        Tipo de atención
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.Created
                                        </td>
                                        <td>@item.TypeAttention.Name</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

   
@section scripts{
    <link href="~/lib/datatable/datatables.min.css" rel="stylesheet" />
    <script src="~/lib/datatable/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#list').DataTable({
                "language": {
                    "url": "/lib/datatable/spanish.json"
                },
            });
        });
    </script>
}
