@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutClient";
}

<div class="section mt-5" style="min-height:500px;">
    <div class="container">
        <div class="row mb-5">
            <div class="col-6  d-flex justify-content-center">

                <img src="~/document/Sealito Gracias.png" />

            </div>
            <div class="col-6  d-flex justify-content-center">
                
                
                <form action="/Client/Score" method="post">
                    <h2>Por favor califique nuestro servicio</h2>
                    <input type="hidden" name="UniqueId" value="@ViewBag.UniqueId" />
                    <div class="star_content">
                        <input name="rate" value="1" type="radio" class="star" checked="checked" />
                        <input name="rate" value="2" type="radio" class="star" />
                        <input name="rate" value="3" type="radio" class="star" />
                        <input name="rate" value="4" type="radio" class="star" />
                        <input name="rate" value="5" type="radio" class="star" />
                    </div>
                    <button type="submit" name="submitRatingStar" id="submitRatingStar" class="btn btn-primary btn-sm">Enviar</button>
                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts{

    <link href="~/star-rating/css/styles.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="~/star-rating/js/jquery.rating.pack.js"></script>



    <script>
        $(document).ready(function () {
            $('input.star').rating();
        });
    </script>
}
