@{ 
    ViewData["Title"] = "Actualizar Contraseña";
    Layout = "_LayoutNew";
}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <h4 class="page-title">Actualizar Contraseña</h4>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <form asp-action="ChangePassword">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label class="control-label">Contraseña</label>
                                <input type="password" name="Password" class="form-control" required />
                                <ul>
                                    <li>
                                        La contraseña debe contener al menos una letra minúscula.
                                    </li>
                                    <li>
                                        La contraseña debe contener al menos una letra mayúscula.
                                    </li>
                                    <li>
                                        La contraseña no debe tener menos de 8 ni más de 15 caracteres.
                                    </li>
                                    <li>
                                        La contraseña debe contener al menos un valor numérico.
                                    </li>
                                    <li>
                                        La contraseña debe contener al menos un carácter especial (!@@#$%^&*()_+=\[{\]};:<>|./?,-)
                                    </li>
                                </ul>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Grabar" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>