@{
    Layout = "_LayoutAdmin";
}

<main style="height:550px">


    <div class="section section-lg ">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-4 col-md-4">
                    <div class="mb-3">
                        <span class="h6">Sala</span>
                    </div>
                    <ul class="list-unstyled news-list">
                        <li class="row mx-0 mb-4">
                            <a href="#" class="col-3">
                                <img src="/theme/assets/img/blog/image-1.jpg" alt="Designer desk" class="rounded">
                            </a>
                            <div class="col">
                                <a asp-controller="Client" asp-action="Meeting">
                                    <h2 class="h6 mb-1">Tipo de atencion: Nuevo medidor</h2>
                                </a>
                                <div class="post-meta font-small">
                                    @*<a class="text-secondary mr-3" href="#">
                                            <span class="far fa-comments mr-2"></span>50
                                        </a>*@
                                    <span>
                                        <span class="far fa-clock mr-2"></span>Hora de inicio: 09:10
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="row mx-0 mb-4">
                            <a href="#" class="col-3">
                                <img src="/theme/assets/img/blog/image-1.jpg" alt="Designer desk" class="rounded">
                            </a>
                            <div class="col">
                                <a asp-controller="Client" asp-action="Meeting">
                                    <h2 class="h6 mb-1">Tipo de atencion: Nuevo medidor</h2>
                                </a>
                                <div class="post-meta font-small">
                                    @*<a class="text-secondary mr-3" href="#">
                                            <span class="far fa-comments mr-2"></span>50
                                        </a>*@
                                    <span>
                                        <span class="far fa-clock mr-2"></span>Hora de inicio: 09:10
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="row mx-0 mb-4">
                            <a href="#" class="col-3">
                                <img src="/theme/assets/img/blog/image-1.jpg" alt="Designer desk" class="rounded">
                            </a>
                            <div class="col">
                                <a asp-controller="Client" asp-action="Meeting">
                                    <h2 class="h6 mb-1">Tipo de atencion: Nuevo medidor</h2>
                                </a>
                                <div class="post-meta font-small">
                                    @*<a class="text-secondary mr-3" href="#">
                                            <span class="far fa-comments mr-2"></span>50
                                        </a>*@
                                    <span>
                                        <span class="far fa-clock mr-2"></span>Hora de inicio: 09:10
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="row mx-0 mb-4">
                            <a href="#" class="col-3">
                                <img src="/theme/assets/img/blog/image-1.jpg" alt="Designer desk" class="rounded">
                            </a>
                            <div class="col">
                                <a asp-controller="Client" asp-action="Meeting">
                                    <h2 class="h6 mb-1">Tipo de atencion: Nuevo medidor</h2>
                                </a>
                                <div class="post-meta font-small">
                                    @*<a class="text-secondary mr-3" href="#">
                                            <span class="far fa-comments mr-2"></span>50
                                        </a>*@
                                    <span>
                                        <span class="far fa-clock mr-2"></span>Hora de inicio: 09:10
                                    </span>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>





            </div>
        </div>
    </div>
</main>