@{
    ViewData["Title"] = "Home Page";
}

<main>

    <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark"
             data-background="../../assets/img/pages/form-image.jpg"
             style="background: rgba(0, 0, 0, 0) url(&quot;../../assets/img/pages/form-image.jpg&quot;) repeat scroll 0% 0%;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 d-flex align-items-center justify-content-center">

                    <div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                        <div class="text-center text-md-center mb-4 mt-md-0 ">

                            <img alt="SEAL" src="/theme/assets/img/logo.png" id="logo-principal">
                        </div>
                        <div class="text-center text-md-center mb-4 mt-md-0">
                            <h1 class="mb-0 h3">Sistema de antención al cliente</h1>
                        </div>
                        <form action="#" class="mt-4">
                            <div class="form-group mb-4">
                                <label for="email">Correo electrónico</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">
                                        <span class="fas fa-envelope"></span>
                                    </span> <input type="email"
                                                   class="form-control" placeholder="example@company.com" id="email"
                                                   required="">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-group mb-4">
                                    <label for="password">Contraseña</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon2">
                                            <span class="fas fa-unlock-alt"></span>
                                        </span> <input type="password"
                                                       placeholder="Password" class="form-control" id="password" required="">
                                    </div>
                                    <div><a href="#" class="small text-right">Recuperar contraseña</a></div>
                                </div>
                            </div>
                            <div class="d-grid"><button type="submit" class="btn btn-primary">Sign in</button></div>
                        </form>


                        <div class="d-flex justify-content-center align-items-center mt-4">
                            <span class="font-weight-normal">
                                <a href="./sign-up.html"
                                   class="font-weight-bold">Registrarse</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
