@{
    ViewData["Title"] = "Home Page";
}

@{
    ViewData["Title"] = "Registro";
    Layout = "_LayoutPublic";
}

<main>

    <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark"
             data-background="/theme/assets/img/pages/form-image.jpg"
             style="        background: rgba(0, 0, 0, 0) url(/theme/assets/img/pages/form-image.jpg) repeat scroll 0% 0%;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 d-flex align-items-center justify-content-center">

                    <div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                        <div class="text-center text-md-center mb-4 mt-md-0 ">
                            <img alt="SEAL" class="img-fluid" src="~/theme/assets/img/logo.png" id="logo-principal">
                        </div>

                        @if (ViewData["Grabado"] != null)
                        {
                            <h4>Se envia un correo con una contraseña temporal.</h4>
                            <a href="/Login" class="btn btn-primary">Inicio</a>
                        }
                        else
                        {
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">Recuperar contraseña</h1>
                            </div>
                            <form asp-action="RecoveryPassword" id="formRegistro">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group mb-4">
                                    <label for="email">Correo electrónico</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon3">
                                            <i class="far fa-envelope"></i>
                                        </span>
                                        <input type="email" class="form-control" placeholder="" id="email" name="Email" required="" />
                                    </div>
                                </div>
                                <div class="form-group mb-4">
                                    <label for="password_confirm">Código captcha</label>
                                    <div class="input-group ">
                                        <input type="text" class="form-control" placeholder="Ingrese código" name="captchaCode" maxlength="4" required style="text-transform:uppercase" />
                                        <div class="input-group-prepend">
                                            <img id="img-captcha" src="/get-captcha-image" style="height: 2.7rem !important;" />
                                        </div>
                                        <div class="input-group-append">
                                            <span id="img-captcha-b" class="btn btn-primary" style="border-top-left-radius: 0; border-bottom-left-radius: 0; height: 2.7rem;">
                                                <i class="fas fa-sync-alt" style="padding-top: 0.4rem;"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1" style="padding: 8px;">
                                    <button type="submit" class="btn btn-primary">Enviar</button>
                                </div>
                                <div class="col-2" style="padding: 8px;">
                                    <a href="/Login" class="text-muted"><b>Regresar</b></a>
                                </div>
                            </form>
                        }

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#img-captcha-b").click(function () {
                d = new Date();
                $("#img-captcha").attr("src", "/get-captcha-image?" + d.getTime());
            });
        });
    </script>
}
