@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var themeNew = "";
}
<!DOCTYPE html>
<html lang="es-pe">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title>Videollamada | SEAL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Videollamada | SEAL" name="description" />
    <meta content="Roderick Cusirramos Montesinos, Agile Corporation E.I.R.L." name="author" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico">

    <link href="https://public-agile.s3.us-west-2.amazonaws.com/style.min.css" rel="stylesheet" type="text/css" />
    
    <link href="/themeNew/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/theme/vendor/@@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FGD6M0PQLD"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-FGD6M0PQLD');
    </script>
</head>
<body data-topbar="dark" data-layout="horizontal" data-layout-mode="@themeNew" style="background-image: url(/document/Fondo.png) ">
    <div id="layout-wrapper">
        <header id="page-topbar" style="background-color: #005da4; border-color: #005da4;">
            <div class="navbar-header">
                <div class="d-flex">
                    <div class="navbar-brand-box">
                        <a href="#" class="logo d-none d-lg-block">
                            <img src="~/theme/assets/img/logo.svg" alt="Seal" height="35">
                            @*<img src="~/theme/assets/img/logo_seal.png" alt="" height="60" style="padding-top:10px;">*@
                        </a>
                    </div>
                    <button type="button" class="btn btn-sm px-3 font-size-16 vertinav-toggle header-item waves-effect" id="vertical-menu-btn">
                        <i class="fa fa-fw fa-bars"></i>
                    </button>
                    <button type="button" class="btn btn-sm px-3 font-size-16 horinav-toggle header-item waves-effect waves-light" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                        <i class="fa fa-fw fa-bars"></i>
                    </button>
                </div>
                <div class="d-flex">

                    <div class="dropdown d-inline-block d-lg-none ms-1">
                        <a href="#" class="logo">
                            <img src="~/theme/assets/img/logo.svg" alt="Seal" height="35">
                            @*<img src="~/theme/assets/img/logo_seal.png" alt="" height="60" style="padding-top:10px;">*@
                        </a>
                    </div>
                    <div class="dropdown d-none d-lg-inline-block ms-1">
                        <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                            <i class="mdi mdi-fullscreen"></i>
                        </button>
                    </div>
                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="mdi mdi-account-circle  text-muted align-middle me-1" style="font-size:32px;"></i>
                            <span class="d-none d-xl-inline-block ms-1">@HttpContextAccessor.HttpContext.Session.GetString("Name")</span>
                            <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="/Client/Perfil"><i class="fas fa-user"></i> Perfil</a>
                            <a class="dropdown-item" href="/Client/ChangePassword"><i class="mdi mdi-key-chain text-muted font-size-16 align-middle me-1"></i> <span class="align-middle" key="t-logout">Cambio de contraseña</span></a>
                            <a class="dropdown-item" href="/Logout"><i class="mdi mdi-logout text-muted font-size-16 align-middle me-1"></i> <span class="align-middle" key="t-logout">Salir</span></a>
                        </div>
                    </div>
                     <div class="dropdown d-none d-lg-inline-block ms-1">
                        <a  href="/Client/ResumenPago" class="btn header-item noti-icon waves-effect">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <div class="topnav">
            <div class="container-fluid">
                <nav class="navbar navbar-light navbar-expand-lg topnav-menu">
                    <div class="collapse navbar-collapse" id="topnav-menu-content">
                        <ul class="navbar-nav">
                            <li class="nav-item ">
                                <a class="nav-link" href="/MainClient"><i class="fas fa-home" style="color: #f8cc39"></i> Inicio</a>
                            </li>
                            @*<li class="nav-item ">
                                <a class="nav-link" href="/Client/GenerateTicket" style="font-size:1rem !important;"><i class="fas fa-ticket-alt" style="color: #f8cc39"></i> Generar Ticket</a>
                            </li>*@
                            <li class="nav-item ">
                                <a class="nav-link" href="/Client/ProgrammerMeeting" style="font-size:1rem !important;"><i class="fas fa-calendar-alt" style="color: #f8cc39"></i> Programar Cita</a>
                            </li>

                            <li class="nav-item ">
                                <a class="nav-link" href="/Client/DocumentosPresentados" style="font-size:1rem !important;"><i class="fas fa-file" style="color: #f8cc39"></i> Documentos Presentados</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/Client/HistorialAtenciones" style="font-size:1rem !important;"><i class="fas fa-video" style="color: #f8cc39"></i> Historial de Atenciones</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            <footer class="footer" style="background-color: #f8cc39 !important; color:gray;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © SEAL
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                Videollamada v1.0
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="~/themeNew/libs/jquery/jquery.min.js"></script>
    <script src="~/themeNew/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/themeNew/libs/metismenu/metisMenu.min.js"></script>
        <script src="~/themeNew/libs/simplebar/simplebar.min.js"></script>
        <script src="~/themeNew/libs/node-waves/waves.min.js"></script>*@

    <script src="~/themeNew/js/app.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
