@model SealWebRTC.Models.User

@{
    ViewData["Title"] = "Edit";
    Layout = "_LayoutNew";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Editar usuario</h4>

                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" value="@Model.Id" />
                    <input type="hidden" asp-for="Id" value="@Model.UniqueId" />

                    <div class="form-group row" style="margin-bottom:1rem;">
                        <label class="col-sm-2 col-form-label">Tipo documento</label>
                        <div class="col-sm-4">
                            <select name="TypeDoc" class="form-select">
                                <option value="DNI">DNI</option>
                                <option value="CE">CE</option>
                            </select>
                            <span asp-validation-for="TypeDoc" class="text-danger"></span>
                        </div>
                        <label class="col-sm-2 col-form-label"> Número documento</label>
                        <div class="col-sm-4">
                            <input asp-for="NumberDoc" class="form-control" required />
                            <span asp-validation-for="NumberDoc" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row" style="margin-bottom:1rem;">
                        <label class="col-sm-2 col-form-label">Nombres</label>
                        <div class="col-sm-4">
                            <input asp-for="FirstName" class="form-control" required />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <label class="col-sm-2 col-form-label">Apellidos</label>
                        <div class="col-sm-4">
                            <input asp-for="LastName" class="form-control" required />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row" style="margin-bottom:1rem;">
                        <label asp-for="Email" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-4">
                            <input asp-for="Email" class="form-control" required />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <label class="col-sm-2 col-form-label">Teléfono/Celular</label>
                        <div class="col-sm-4">
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row" style="margin-bottom:1rem;">
                        <label asp-for="Password" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-4">
                            <input asp-for="Password" class="form-control" required />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <label asp-for="Rol" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-4">

                            <select name="Rol" class="form-select">

                                <option value="2">Gestor</option>
                                <option value="3">Administrador</option>
                            </select>
                            <span asp-validation-for="Rol" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row" style="margin-bottom:1rem;">
                        <label class="col-sm-2 col-form-label">Suministro</label>
                        <div class="col-sm-4">
                            <input asp-for="Suministro" class="form-control" />
                            <span asp-validation-for="Suministro" class="text-danger"></span>
                        </div>

                        <label class="col-sm-2 col-form-label">Id Acceso</label>
                        <div class="col-sm-4">
                            <input asp-for="AccessKeyId" class="form-control" />
                            <span asp-validation-for="AccessKeyId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row" style="margin-bottom:1rem;">
                        <label class="col-sm-2 col-form-label">Password Acceso</label>
                        <div class="col-sm-4">
                            <input asp-for="SecretAccessKey" class="form-control" />
                            <span asp-validation-for="SecretAccessKey" class="text-danger"></span>
                        </div>

                        <label class="col-sm-2 col-form-label">Canal</label>
                        <div class="col-sm-4">
                            <input asp-for="ChannelName" class="form-control" />
                            <span asp-validation-for="ChannelName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row" style="margin-bottom:1rem;">
                        <label class="col-form-label col-sm-2">Habilitado</label>
                        <div class="col-sm-4" style="padding-top: 0.5rem;">
                            <input class="form-check-input" asp-for="Enabled" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <a asp-action="Index" class="btn btn-gray"><i class="fas fa-arrow-left"></i> Regresar</a>
                        </div>
                        <div class="col-6 text-end">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Grabar</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}